name: C++ CI

on:
  push:
  pull_request:
  schedule:
    # min hours day(month) month day(week)
    - cron: '0 0 7,22 * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup env
      run: make env
    - name: Build project
      run: make devel
    - name: Test project
      run: make test_devel
